@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --clr-primary: white;
  --clr-accent-400: #00102e;
  --clr-accent-100: #084f70;
  --clr-accent-200: #04344b;
}
body, header, footer {
  background-color: #00102e;
  color: white;
}

button, a{
  transition: all 0.7s ease;
}

/* button:hover, a:hover{
  transform: scale(1.1);
  color: #084f70;
} */